.ip {
    color:       #006 !important;
    display:     inline-block;
    padding:     2px 4px 2px 4px;
    line-height: 1;
    border:      1px solid #ddd;

    &.flag {
        padding-right:       26px;
        background-repeat:   no-repeat;
        background-position: right 4px center;

    &.cc-ad{background-image:url(/images/flags/ad.gif)}
    &.cc-ae{background-image:url(/images/flags/ae.gif)}
    &.cc-af{background-image:url(/images/flags/af.gif)}
    &.cc-ag{background-image:url(/images/flags/ag.gif)}
    &.cc-ai{background-image:url(/images/flags/ai.gif)}
    &.cc-al{background-image:url(/images/flags/al.gif)}
    &.cc-am{background-image:url(/images/flags/am.gif)}
    &.cc-an{background-image:url(/images/flags/an.gif)}
    &.cc-ao{background-image:url(/images/flags/ao.gif)}
    &.cc-ar{background-image:url(/images/flags/ar.gif)}
    &.cc-as{background-image:url(/images/flags/as.gif)}
    &.cc-at{background-image:url(/images/flags/at.gif)}
    &.cc-au{background-image:url(/images/flags/au.gif)}
    &.cc-aw{background-image:url(/images/flags/aw.gif)}
    &.cc-ax{background-image:url(/images/flags/ax.gif)}
    &.cc-az{background-image:url(/images/flags/az.gif)}
    &.cc-ba{background-image:url(/images/flags/ba.gif)}
    &.cc-bb{background-image:url(/images/flags/bb.gif)}
    &.cc-bd{background-image:url(/images/flags/bd.gif)}
    &.cc-be{background-image:url(/images/flags/be.gif)}
    &.cc-bf{background-image:url(/images/flags/bf.gif)}
    &.cc-bg{background-image:url(/images/flags/bg.gif)}
    &.cc-bh{background-image:url(/images/flags/bh.gif)}
    &.cc-bi{background-image:url(/images/flags/bi.gif)}
    &.cc-bj{background-image:url(/images/flags/bj.gif)}
    &.cc-bm{background-image:url(/images/flags/bm.gif)}
    &.cc-bn{background-image:url(/images/flags/bn.gif)}
    &.cc-bo{background-image:url(/images/flags/bo.gif)}
    &.cc-br{background-image:url(/images/flags/br.gif)}
    &.cc-bs{background-image:url(/images/flags/bs.gif)}
    &.cc-bt{background-image:url(/images/flags/bt.gif)}
    &.cc-bv{background-image:url(/images/flags/bv.gif)}
    &.cc-bw{background-image:url(/images/flags/bw.gif)}
    &.cc-by{background-image:url(/images/flags/by.gif)}
    &.cc-bz{background-image:url(/images/flags/bz.gif)}
    &.cc-ca{background-image:url(/images/flags/ca.gif)}
    &.cc-cc{background-image:url(/images/flags/cc.gif)}
    &.cc-cd{background-image:url(/images/flags/cd.gif)}
    &.cc-cf{background-image:url(/images/flags/cf.gif)}
    &.cc-cg{background-image:url(/images/flags/cg.gif)}
    &.cc-ch{background-image:url(/images/flags/ch.gif)}
    &.cc-ci{background-image:url(/images/flags/ci.gif)}
    &.cc-ck{background-image:url(/images/flags/ck.gif)}
    &.cc-cl{background-image:url(/images/flags/cl.gif)}
    &.cc-cm{background-image:url(/images/flags/cm.gif)}
    &.cc-cn{background-image:url(/images/flags/cn.gif)}
    &.cc-co{background-image:url(/images/flags/co.gif)}
    &.cc-cr{background-image:url(/images/flags/cr.gif)}
    &.cc-cs{background-image:url(/images/flags/cs.gif)}
    &.cc-cu{background-image:url(/images/flags/cu.gif)}
    &.cc-cv{background-image:url(/images/flags/cv.gif)}
    &.cc-cx{background-image:url(/images/flags/cx.gif)}
    &.cc-cy{background-image:url(/images/flags/cy.gif)}
    &.cc-cz{background-image:url(/images/flags/cz.gif)}
    &.cc-de{background-image:url(/images/flags/de.gif)}
    &.cc-dj{background-image:url(/images/flags/dj.gif)}
    &.cc-dk{background-image:url(/images/flags/dk.gif)}
    &.cc-dm{background-image:url(/images/flags/dm.gif)}
    &.cc-do{background-image:url(/images/flags/do.gif)}
    &.cc-dz{background-image:url(/images/flags/dz.gif)}
    &.cc-ec{background-image:url(/images/flags/ec.gif)}
    &.cc-ee{background-image:url(/images/flags/ee.gif)}
    &.cc-eg{background-image:url(/images/flags/eg.gif)}
    &.cc-eh{background-image:url(/images/flags/eh.gif)}
    &.cc-er{background-image:url(/images/flags/er.gif)}
    &.cc-es{background-image:url(/images/flags/es.gif)}
    &.cc-et{background-image:url(/images/flags/et.gif)}
    &.cc-fi{background-image:url(/images/flags/fi.gif)}
    &.cc-fj{background-image:url(/images/flags/fj.gif)}
    &.cc-fk{background-image:url(/images/flags/fk.gif)}
    &.cc-fm{background-image:url(/images/flags/fm.gif)}
    &.cc-fo{background-image:url(/images/flags/fo.gif)}
    &.cc-fr{background-image:url(/images/flags/fr.gif)}
    &.cc-ga{background-image:url(/images/flags/ga.gif)}
    &.cc-gb{background-image:url(/images/flags/gb.gif)}
    &.cc-gd{background-image:url(/images/flags/gd.gif)}
    &.cc-ge{background-image:url(/images/flags/ge.gif)}
    &.cc-gf{background-image:url(/images/flags/gf.gif)}
    &.cc-gh{background-image:url(/images/flags/gh.gif)}
    &.cc-gi{background-image:url(/images/flags/gi.gif)}
    &.cc-gl{background-image:url(/images/flags/gl.gif)}
    &.cc-gm{background-image:url(/images/flags/gm.gif)}
    &.cc-gn{background-image:url(/images/flags/gn.gif)}
    &.cc-gp{background-image:url(/images/flags/gp.gif)}
    &.cc-gq{background-image:url(/images/flags/gq.gif)}
    &.cc-gr{background-image:url(/images/flags/gr.gif)}
    &.cc-gs{background-image:url(/images/flags/gs.gif)}
    &.cc-gt{background-image:url(/images/flags/gt.gif)}
    &.cc-gu{background-image:url(/images/flags/gu.gif)}
    &.cc-gw{background-image:url(/images/flags/gw.gif)}
    &.cc-gy{background-image:url(/images/flags/gy.gif)}
    &.cc-hk{background-image:url(/images/flags/hk.gif)}
    &.cc-hm{background-image:url(/images/flags/hm.gif)}
    &.cc-hn{background-image:url(/images/flags/hn.gif)}
    &.cc-hr{background-image:url(/images/flags/hr.gif)}
    &.cc-ht{background-image:url(/images/flags/ht.gif)}
    &.cc-hu{background-image:url(/images/flags/hu.gif)}
    &.cc-id{background-image:url(/images/flags/id.gif)}
    &.cc-ie{background-image:url(/images/flags/ie.gif)}
    &.cc-il{background-image:url(/images/flags/il.gif)}
    &.cc-in{background-image:url(/images/flags/in.gif)}
    &.cc-io{background-image:url(/images/flags/io.gif)}
    &.cc-iq{background-image:url(/images/flags/iq.gif)}
    &.cc-ir{background-image:url(/images/flags/ir.gif)}
    &.cc-is{background-image:url(/images/flags/is.gif)}
    &.cc-it{background-image:url(/images/flags/it.gif)}
    &.cc-jm{background-image:url(/images/flags/jm.gif)}
    &.cc-jo{background-image:url(/images/flags/jo.gif)}
    &.cc-jp{background-image:url(/images/flags/jp.gif)}
    &.cc-ke{background-image:url(/images/flags/ke.gif)}
    &.cc-kg{background-image:url(/images/flags/kg.gif)}
    &.cc-kh{background-image:url(/images/flags/kh.gif)}
    &.cc-ki{background-image:url(/images/flags/ki.gif)}
    &.cc-km{background-image:url(/images/flags/km.gif)}
    &.cc-kn{background-image:url(/images/flags/kn.gif)}
    &.cc-kp{background-image:url(/images/flags/kp.gif)}
    &.cc-kr{background-image:url(/images/flags/kr.gif)}
    &.cc-kw{background-image:url(/images/flags/kw.gif)}
    &.cc-ky{background-image:url(/images/flags/ky.gif)}
    &.cc-kz{background-image:url(/images/flags/kz.gif)}
    &.cc-la{background-image:url(/images/flags/la.gif)}
    &.cc-lb{background-image:url(/images/flags/lb.gif)}
    &.cc-lc{background-image:url(/images/flags/lc.gif)}
    &.cc-li{background-image:url(/images/flags/li.gif)}
    &.cc-lk{background-image:url(/images/flags/lk.gif)}
    &.cc-lr{background-image:url(/images/flags/lr.gif)}
    &.cc-ls{background-image:url(/images/flags/ls.gif)}
    &.cc-lt{background-image:url(/images/flags/lt.gif)}
    &.cc-lu{background-image:url(/images/flags/lu.gif)}
    &.cc-lv{background-image:url(/images/flags/lv.gif)}
    &.cc-ly{background-image:url(/images/flags/ly.gif)}
    &.cc-ma{background-image:url(/images/flags/ma.gif)}
    &.cc-mc{background-image:url(/images/flags/mc.gif)}
    &.cc-md{background-image:url(/images/flags/md.gif)}
    &.cc-me{background-image:url(/images/flags/me.gif)}
    &.cc-mg{background-image:url(/images/flags/mg.gif)}
    &.cc-mh{background-image:url(/images/flags/mh.gif)}
    &.cc-mk{background-image:url(/images/flags/mk.gif)}
    &.cc-ml{background-image:url(/images/flags/ml.gif)}
    &.cc-mm{background-image:url(/images/flags/mm.gif)}
    &.cc-mn{background-image:url(/images/flags/mn.gif)}
    &.cc-mo{background-image:url(/images/flags/mo.gif)}
    &.cc-mp{background-image:url(/images/flags/mp.gif)}
    &.cc-mq{background-image:url(/images/flags/mq.gif)}
    &.cc-mr{background-image:url(/images/flags/mr.gif)}
    &.cc-ms{background-image:url(/images/flags/ms.gif)}
    &.cc-mt{background-image:url(/images/flags/mt.gif)}
    &.cc-mu{background-image:url(/images/flags/mu.gif)}
    &.cc-mv{background-image:url(/images/flags/mv.gif)}
    &.cc-mw{background-image:url(/images/flags/mw.gif)}
    &.cc-mx{background-image:url(/images/flags/mx.gif)}
    &.cc-my{background-image:url(/images/flags/my.gif)}
    &.cc-mz{background-image:url(/images/flags/mz.gif)}
    &.cc-na{background-image:url(/images/flags/na.gif)}
    &.cc-nc{background-image:url(/images/flags/nc.gif)}
    &.cc-ne{background-image:url(/images/flags/ne.gif)}
    &.cc-nf{background-image:url(/images/flags/nf.gif)}
    &.cc-ng{background-image:url(/images/flags/ng.gif)}
    &.cc-ni{background-image:url(/images/flags/ni.gif)}
    &.cc-nl{background-image:url(/images/flags/nl.gif)}
    &.cc-no{background-image:url(/images/flags/no.gif)}
    &.cc-np{background-image:url(/images/flags/np.gif)}
    &.cc-nr{background-image:url(/images/flags/nr.gif)}
    &.cc-nu{background-image:url(/images/flags/nu.gif)}
    &.cc-nz{background-image:url(/images/flags/nz.gif)}
    &.cc-om{background-image:url(/images/flags/om.gif)}
    &.cc-pa{background-image:url(/images/flags/pa.gif)}
    &.cc-pe{background-image:url(/images/flags/pe.gif)}
    &.cc-pf{background-image:url(/images/flags/pf.gif)}
    &.cc-pg{background-image:url(/images/flags/pg.gif)}
    &.cc-ph{background-image:url(/images/flags/ph.gif)}
    &.cc-pk{background-image:url(/images/flags/pk.gif)}
    &.cc-pl{background-image:url(/images/flags/pl.gif)}
    &.cc-pm{background-image:url(/images/flags/pm.gif)}
    &.cc-pn{background-image:url(/images/flags/pn.gif)}
    &.cc-pr{background-image:url(/images/flags/pr.gif)}
    &.cc-ps{background-image:url(/images/flags/ps.gif)}
    &.cc-pt{background-image:url(/images/flags/pt.gif)}
    &.cc-pw{background-image:url(/images/flags/pw.gif)}
    &.cc-py{background-image:url(/images/flags/py.gif)}
    &.cc-qa{background-image:url(/images/flags/qa.gif)}
    &.cc-re{background-image:url(/images/flags/re.gif)}
    &.cc-ro{background-image:url(/images/flags/ro.gif)}
    &.cc-rs{background-image:url(/images/flags/rs.gif)}
    &.cc-ru{background-image:url(/images/flags/ru.gif)}
    &.cc-rw{background-image:url(/images/flags/rw.gif)}
    &.cc-sa{background-image:url(/images/flags/sa.gif)}
    &.cc-sb{background-image:url(/images/flags/sb.gif)}
    &.cc-sc{background-image:url(/images/flags/sc.gif)}
    &.cc-sd{background-image:url(/images/flags/sd.gif)}
    &.cc-se{background-image:url(/images/flags/se.gif)}
    &.cc-sg{background-image:url(/images/flags/sg.gif)}
    &.cc-sh{background-image:url(/images/flags/sh.gif)}
    &.cc-si{background-image:url(/images/flags/si.gif)}
    &.cc-sj{background-image:url(/images/flags/sj.gif)}
    &.cc-sk{background-image:url(/images/flags/sk.gif)}
    &.cc-sl{background-image:url(/images/flags/sl.gif)}
    &.cc-sm{background-image:url(/images/flags/sm.gif)}
    &.cc-sn{background-image:url(/images/flags/sn.gif)}
    &.cc-so{background-image:url(/images/flags/so.gif)}
    &.cc-sr{background-image:url(/images/flags/sr.gif)}
    &.cc-st{background-image:url(/images/flags/st.gif)}
    &.cc-sv{background-image:url(/images/flags/sv.gif)}
    &.cc-sy{background-image:url(/images/flags/sy.gif)}
    &.cc-sz{background-image:url(/images/flags/sz.gif)}
    &.cc-tc{background-image:url(/images/flags/tc.gif)}
    &.cc-td{background-image:url(/images/flags/td.gif)}
    &.cc-tf{background-image:url(/images/flags/tf.gif)}
    &.cc-tg{background-image:url(/images/flags/tg.gif)}
    &.cc-th{background-image:url(/images/flags/th.gif)}
    &.cc-tj{background-image:url(/images/flags/tj.gif)}
    &.cc-tk{background-image:url(/images/flags/tk.gif)}
    &.cc-tl{background-image:url(/images/flags/tl.gif)}
    &.cc-tm{background-image:url(/images/flags/tm.gif)}
    &.cc-tn{background-image:url(/images/flags/tn.gif)}
    &.cc-to{background-image:url(/images/flags/to.gif)}
    &.cc-tr{background-image:url(/images/flags/tr.gif)}
    &.cc-tt{background-image:url(/images/flags/tt.gif)}
    &.cc-tv{background-image:url(/images/flags/tv.gif)}
    &.cc-tw{background-image:url(/images/flags/tw.gif)}
    &.cc-tz{background-image:url(/images/flags/tz.gif)}
    &.cc-ua{background-image:url(/images/flags/ua.gif)}
    &.cc-ug{background-image:url(/images/flags/ug.gif)}
    &.cc-um{background-image:url(/images/flags/um.gif)}
    &.cc-us{background-image:url(/images/flags/us.gif)}
    &.cc-uy{background-image:url(/images/flags/uy.gif)}
    &.cc-uz{background-image:url(/images/flags/uz.gif)}
    &.cc-va{background-image:url(/images/flags/va.gif)}
    &.cc-vc{background-image:url(/images/flags/vc.gif)}
    &.cc-ve{background-image:url(/images/flags/ve.gif)}
    &.cc-vg{background-image:url(/images/flags/vg.gif)}
    &.cc-vi{background-image:url(/images/flags/vi.gif)}
    &.cc-vn{background-image:url(/images/flags/vn.gif)}
    &.cc-vu{background-image:url(/images/flags/vu.gif)}
    &.cc-wf{background-image:url(/images/flags/wf.gif)}
    &.cc-ws{background-image:url(/images/flags/ws.gif)}
    &.cc-ye{background-image:url(/images/flags/ye.gif)}
    &.cc-yt{background-image:url(/images/flags/yt.gif)}
    &.cc-za{background-image:url(/images/flags/za.gif)}
    &.cc-zm{background-image:url(/images/flags/zm.gif)}
    &.cc-zw{background-image:url(/images/flags/zw.gif)}
    }
}
