@import '../../resources/bourbon/bourbon';

@mixin hyphenation {
    -ms-word-break:  break-all;
    word-break:      break-all;
    word-break:      break-word;
    -moz-hyphens:    auto;
    -webkit-hyphens: auto;
    hyphens:         auto;
}

@mixin media ($query) {
    @media ($query) { @content; }
}

@mixin breakpoint ($min: 0, $max: 0) {
    $type: type-of($min);

    @if $type == string {

        @if $min == phone-portrait {
            @media (max-width: 479px) { @content; }
        }
        @else if $min == phone-landscape {
            @media (min-width: 480px) and (max-width: 767px) { @content; }
        }
        @else if $min == phone {
            @media (max-width: 767px) { @content; }
        }
        @else if $min == notphone {
            @media (min-width: 768px) { @content; }
        }
        @else if $min == tablet {
            @media (max-width: 991px) { @content; }
        }
        @else if $min == desktop {
            @media (min-width: 992px) { @content; }
        }
        @else if $min == bigdesktop {
            @media (min-width: 1200px) { @content; }
        }
        @else {
            @warn "Breakpoint mixin supports: phone, phone-portrait, phone-landscape, tablet, desktop, bigdesktop";
        }
    }
    @else if $type == number {
        $query: "all" !default;

        @if $min != 0 and $max != 0 { 
            $query: "(min-width: #{$min}) and (max-width: #{$max})"; 
        }
        @else if $min != 0 and $max == 0 { 
            $query: "(min-width: #{$min})"; 
        }
        @else if $min == 0 and $max != 0 { 
            $query: "(max-width: #{$max})"; 
        }
        @media #{$query} { 
            @content;
        }         
    }
}
