@import 'global';
@import 'flags';

*, *::before, *::after {
    box-sizing: border-box;
}

/* Fonts */

    header, h1, h2, h3, h4, h5, h6 {
        color:              #333;
        font-family:        'Libre Baskerville', serif;
        line-height:        1;
    }

    h1 { font-size: 2em; }
    h2 { font-size: 1.5em; }
    h3 { font-size: 1.17em; }
    h4 { font-size: 1.12em; }
    h5 { font-size: 0.83em; }
    h6 { font-size: 0.75em; }

    body {
        color:          #333;
        font-family:    'Open Sans', sans-serif;
    }

    a {
        color: #006;
        @include text-decoration-color(rgba(0, 0, 102, 0.2));
    }

    .error, .error a {
        color:          #a00;
    }

    p {
        line-height:    1.6;
    }

html {
    height:             100%;
    background-color:   #F7EAC8;
}

html, body {
    margin:     0;
    padding:    0;
    min-height: 100%;
}

body {
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(space-between);
}

#totop {
    display:            block;
    position:           fixed;
    bottom:             -1.4em;
    right:              5vw;
    width:              1.4em;
    height:             1.4em;
    background-color:   #060;
    border:             2px solid white;
    cursor:             pointer;
    text-align:         center;
    font-size:          3em;
    color:              white;
    opacity:            0.5;
    border-radius:      50%;
    @include transition(opacity 0.1s linear, bottom 0.1s ease-in);

    &.show {
        bottom:             5vh;
        @include transition(
            opacity          0.1s linear,
            bottom           0.1s ease-out
        );
    }
    &:hover {
        opacity:            0.8;
    }
    &::before {
        content:            '^';
        line-height:        1;
        position:           relative;
        top:                0.05em;
        display:            inline-block;
    }
}

body > header {
    @include display(flex);
    @include justify-content(space-around);
    @include align-items(center);
    @include flex-wrap(wrap);
    position:   relative;
    overflow:   hidden;
    background: #333;
    padding:    1em;

    @include breakpoint (phone) {
        @include flex-direction(column);
    }

    &::before {
        content:    ' ';
        position:   absolute;
        top:        -5vmin;
        left:       -5vmin;
        width:      10vmin;
        height:     10vmin;
        background-color:   rgba(219,51,64,0.8);
        @include transform(rotate(45deg));
    }

    &::after {
        content:    ' ';
        position:   absolute;
        bottom:     -5vmin;
        right:      -5vmin;
        width:      10vmin;
        height:     10vmin;
        background-color:   rgba(219,51,64,0.8);
        @include transform(rotate(45deg));
    }

    > h1 {
        @include flex-grow(2);
        text-align:                 center;
        padding:                    2vh 1em;
        line-height:                1;

        > a {
            color:              #eee;
            text-decoration:    none;
        }
    }

    > nav {
        @include display(flex);
        @include flex-grow(1);
        @include justify-content(space-around);
        @include align-items(center);
        margin: 0.5em 1em;

        @include breakpoint (phone) {
            width:100%;
        }

        a {
            color:     #ddd;
            margin:    0 1em;
            @include text-decoration-color(#999);
            &:hover {
                color: white;
            }

            &:not(:empty) {
                @include breakpoint(notphone) {
                    font-size:0.9em;
                }
            }

            &[href="https://gitlab.com/grepular/parsemail"] {
                display:            inline-block;
                width:              2.5em;
                height:             2.5em;
                background-image:   url('/images/gitlab.svg');
                background-repeat:  no-repeat;
                background-size:    100%;
                border-radius:      50%;
                @include breakpoint(phone) {
                    position:   absolute;
                    top:        calc(1.75em + 2vh);
                    right:      1vw;
                    width:      3em;
                    height:     3em;
                }
            }
        }
    }
}

body > footer {
    background: #333;
    color:       #eee;
    padding:     3em;
    text-align:  center;
    line-height: 1.8;

    span, a {
        color:                      #eee;
        @include text-decoration-color(#777);
    }
    span {
        display:                    inline-block;
        text-align:                 left;
    }
}

body.busy > footer {
    position: relative;
    overflow: hidden;
    &::after {
        display:    block;
        content:    ' ';
        position:   absolute;
        top:        0;
        left:       -100%;
        width:      200%;
        height:     0.5em;
        background-image: linear-gradient(to right, #B9323D, #333, #B9323D, #333, #B9323D);
        @include keyframes(scrollRight) {
              0% { left: -100%; }
            100% { left:  0%; }
        }
        @include animation(scrollRight 1s linear infinite);
    }
}

body > main {
    @include display(flex);
    @include align-self(center);
    @include flex-direction(column);
    @include align-items(center);
    @include flex-grow(1);
    margin:           2em;
    padding:          2em;
    box-shadow:       0.2em 0.2em 2em rgba(0,0,0,0.5);
    background-color: #fff;
    
    width:     calc(100% - 4em);
    max-width: 1000px;
    min-width: 950px * 0.9;

    @include breakpoint(0, 950px) {
        min-width: 90%;
        max-width: 100vw;
    }

    @include breakpoint(phone) {
        padding:        0;
        margin:         0;
        width:          100%;
    }

    h2 {
        background-color: #088BC3;
        text-align:       center;
        width:            100%;
        color:            white;

        margin: 0;
        padding: 2em;
        @include breakpoint(phone) {
            padding: 1.6em 1em;
            margin-bottom: 0.5em;
            ~ * { margin: 0 1em; padding-bottom: 1em; }
        }

        &:not(.link) {
            overflow:       hidden;
            text-overflow:  ellipsis;
        }
        &.link {
            @include display(flex);
            padding: 0;

            a:first-of-type {
                display:            inline-block;
                color:              white;
                text-decoration:    none;
                overflow:       hidden;
                text-overflow:  ellipsis;
                padding:        2em;
                @include breakpoint(phone) {
                    padding: 1.6em 1em;
                }
                @include flex-grow(1);
            }
        }
    }

    p {
        max-width:                  50em;
        text-align:                 left;
        @include hyphens(auto);
    }
}

/* Forms */

// Text fields
input:not([type="checkbox"]):not([type="submit"]), textarea {
    @include appearance(none);
    outline:    0;
    border:     0;
    background-color:   #fdfdfd;
    box-shadow: 2px 2px 2px rgba(99,99,99,0.4), -1px -1px 1px rgba(99,99,99,0.2);
    &:active, &:focus, &::-moz-focus-inner {
        outline: 0;
        border:  0;
    }
}

textarea {
    font-family:        monospace;
    padding:            1em;
    line-height:        1.8;
    height:             100%;
    width:              100%;
}

select {
    padding:    0.5em 0.2em 0.5em 1em;
    height:     3.3em;
    margin:     0;
    cursor:     pointer;
    option {
        padding: 0.5em 0 0.5em 1em;
    }
}

.fat-checkbox {
    position: relative;

    label {
        cursor:         pointer;
        position:       absolute;
        top:            0;
        left:           0;
        width:          2.5em;
        height:         2.5em;
        border:         1px solid #9d9f9d;
        border-radius:  2px;
        @include linear-gradient(to bottom, #fefefe, #dcdcdc);
        text-align:center;
    }

    input {
        @include appearance(none);
        @include user-select(none);
        border:  0;
        outline: 0;
        z-index: -1;

        &:checked + label::after {
            font-size:      1.8em;
            content:        '✓';
        }
        &:active, &:focus {
            + label {
                border: 1px solid #cdcfcd;
            }
        }
    }
}

button, input[type="submit"] {
    @include appearance(none);
    @include user-select(none);
    @include linear-gradient(to bottom, #fefefe, #dcdcdc);

    display:        inline-block;
    cursor:         pointer;
    white-space:    nowrap;
    position:       relative;
    padding:        0.8em 2em;
    height:         3.3em;
    min-height:     3.3em;
    line-height:    1;

    border:         1px solid #9d9f9d;
    border-radius:  2px;

    &::before, &::after {
        position:   absolute;
        top:        1.15em;
        font-weight: bold;
        color:      #888;
    }

    &::before {
        content:    '>';
        left:       0.8em;
    }

    &::after {
        content:    '<';
        right:      0.8em;
    }

    &:hover {
        @include linear-gradient(to bottom, #fefefe, #e6e6e6);
        &::before, &::after { color: black; }
    }
    &:active {
        @include linear-gradient(to top, #fefefe, #dcdcdc);
    }
}

#email-privacy-tester {
    padding: 0;
    margin:  1.5em 0 0 0;
    @include breakpoint (phone) {
        padding: 0 1em 1.5em 1em;
    }
}
