{% load app_filters %}

{% if part.id == "1" %}
    <ul>
        <li>
{% endif %}

{{ part.id }}.
<a href="#part-{{ part.id_underscored }}" title="Jump to part {{ part.id }}">{{ part.content_type|wbr_path }}</a>

{% if part.has_children %}
    <ul>
        {% for child in part.children %}
            <li>
                {% with child as part %}
                    {% include "msg/structure.html" %}
                {% endwith %}
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if part.id == "1" %}
        </li>
    </ul>
{% endif %}
