<!doctype html>

<html lang="en-gb">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="referrer" content="none">

        <title>{% block page_title %}{% endblock %} | ParseMail</title>

        <script src="/js/common.min.js" defer></script>{% block js %}
        {% endblock %}
{% block css %}{% include "css.html" %}
{% endblock css %}    </head>
    <body>

        <header>

            <h1>
                <a href="/" title="Take me home">ParseMail</a>
            </h1>

            <nav>
                <a href="/" title="Home">Home</a>
                <a href="/about" title="About this site">About</a>
                <a href="/privacy" title="Privacy Policy">Privacy</a>
                <a href="https://grepular.com/contact" title="Contact me">Contact</a>
                <a href="https://gitlab.com/grepular/parsemail" title="Fork me on Gitlab"></a>
            </nav>

        </header>

        <main>

            <!--[if lte IE 9]>
                <p style="color:red;width:100%;padding:2em 1em;">
                    Although mostly functional, this site looks terrible on Internet Explorer
                    versions prior to IE10. I'm not going to spend the extra time required to
                    support old browsers. It looks fine on modern versions of Firefox, Chromium,
                    Opera, Safari, Android browser, iOS and IE10+. That's good enough for me.<br>
                    <br>
                    Give <a href="https://getfirefox.com/" style="color:inherit">Firefox</a>
                    a try.
                </p>
            <![endif]-->
            {% block content %}{% endblock %}

            <p id="email-privacy-tester">
                Find this site useful? You may also find the <a href="https://emailprivacytester.com">Email Privacy Tester</a> useful.
            </p>

        </main>

        <footer>

            <span>
                Website idea, design, implementation and hosting by <a href="https://grepular.com" title="My website">Mike Cardwell</a>.
		<!--Want to hire me? <a href="https://hireme.grepular.com" title="My &quot;Hire Me&quot; page">Please&#160;do</a>-->
            </span>

        </footer>

    </body>

</html>
