{% extends "base.html" %}

{% block page_title %}Home{% endblock %}

{% block js %}
        <script src="/js/index.min.js" defer></script>{% endblock %}

{% block css %}
{% with "/css/index.css" as css %}{% include "css.html" %}{% endwith %}
{% endblock %}

{% block content %}


    <form method="post">{% csrf_token %}

        {% if error %}
            <p class="error">
                {{ error }}. <a href="/about" title="About page">Confused?</a>
            </p>
        {% else %}
            <p>
                <a href="/about">What the deuce does this website do?</a>
            </p>
        {% endif %}

        <div id="email-source">

            <div class="textarea-container">
                <textarea name="email_source" placeholder="Paste your raw email source here" required tabindex="1">{{ email_source }}</textarea>
            </div>
        
            <div class="options"> 

                <div class="remote-content">
                    <span class="fat-checkbox">
                        <input type="checkbox" id="remote-content-checkbox" name="remote_content"{% if remote_content %} checked{% endif %} tabindex="2">
                        <label for="remote-content-checkbox"></label>
                    </span>
                    Tick to load remote content when generating previews for HTML parts. Note:
                    this may lead to tracking pixels being fetched, hence why it is disabled by default.
                </div>
       
                <div class="delete-after"> 
                    <select name="delete_after" required tabindex="3">
                        {% for option in delete_after_options %}
                            <option value="{{ option.value }}"{% if option.selected %} selected{% endif %}>Delete after {{ option.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="submit">
                    <button tabindex="4">Submit</button>
                </div>

            </div>
        </div>

    </form>

{% endblock content %}
