{% extends "base.html" %}

{% block page_title %}Privacy Policy{% endblock %}

{% block content %}

    <h2 class="link">
        <a href="/privacy" title="Privacy Page">Privacy Policy</a>
    </h2>

    <p>
        When you paste an email in to the form on the front page, you are
        handing over a temporary copy of that email to me. I will not share
        that data with anybody else, unless I am legally/violently compelled
        to. However, it may be possible for others to see the email by
        visiting the correct page, because it is only protected by the fact
        that it is difficult to guess the randomly generated code which your
        message is allocated at submit time. There is no publicly scrapable
        index of those codes and good robots are told to not index/follow
        anything they find on the pages which display your&#160;email.<br>
        <br>
        I delete all emails after a period of time specified by you when
        you submit the email. If you need an email to be deleted sooner,
        please <a href="https://grepular.com/contact">contact me</a> and I
        will manually remove&#160;it.<br>
        <br>
        <a href="https://grepular.com/" style="font-style:italic">Mike Cardwell</a><br>
        <br>
        P.S. Did I mention I'm <a href="https://hireme.grepular.com">looking for a&#160;job?</a>
    </p>

{% endblock content %}
