@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: normal;
	src:
		local('Open Sans'),
		local('OpenSans'),
		/* from http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3fY6323mHUZFJMgTvxaG2iE.eot */
		url('Open_Sans.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff */
		url('Open_Sans.woff') format('woff'),
		/* from http://fonts.gstatic.com/l/font?kit=cJZKeOuBrn4kERxqtaUH3Zbd9NUM7myrQQz30yPaGQ4&skey=62c1cbfccc78b4b2#OpenSans */
		url('Open_Sans.svg#OpenSans') format('svg'),
		/* from http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3aCWcynf_cDxXwCLxiixG1c.ttf */
		url('Open_Sans.ttf') format('truetype');
}
@font-face {
	font-family: 'Libre Baskerville';
	font-style: normal;
	font-weight: normal;
	src:
		local('Libre Baskerville'),
		local('LibreBaskerville-Regular'),
		/* from http://fonts.gstatic.com/s/librebaskerville/v4/pR0sBQVcY0JZc_ciXjFsK2F7WC2UG4aaA4SZk0HPHJg.eot */
		url('Libre_Baskerville.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/librebaskerville/v4/pR0sBQVcY0JZc_ciXjFsK5Rby8KfwQsaipLBqMCVNtM.woff */
		url('Libre_Baskerville.woff') format('woff'),
		/* from http://fonts.gstatic.com/l/font?kit=pR0sBQVcY0JZc_ciXjFsK0a0MgkfBR95Z0kZUwmzdX4&skey=1ccff9706b4dcbb3#LibreBaskerville */
		url('Libre_Baskerville.svg#LibreBaskerville') format('svg'),
		/* from http://fonts.gstatic.com/s/librebaskerville/v4/pR0sBQVcY0JZc_ciXjFsKwAUTJOA6-irsSazDq377BE.ttf */
		url('Libre_Baskerville.ttf') format('truetype');
}
